.catalog{
    padding: 100px 0 0;
}
.filtersWrap{
    position: fixed;
    top: 99px;
    left: 0;
    z-index: 1;
    background-color: whitesmoke;
    width: 98%;
    padding: 0 5px;
}
.catalogFiltres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;

}
.filtersField{
    width: 150px;
    height: 250px;
    border: 1px solid #000;
    position: absolute;
    top: 50px;
    background-color: #f1ecec;
}
.searchWrap{
    position: relative;
    &__input{
        width: 250px;
        line-height: 1.7;
        border: none;
        border: 1px solid #dfb985;
    }
    &__input:active, :hover, :focus{
        outline: 0;
        outline-offset: 0;
        text-transform: lowercase;
    }
    &__icon{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
.catalogTabs{
    // position: fixed;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.catalogTabItem{
    background-color: $mainColor;
    height: 20px;
    color: $headingColor;
    padding: 3px 5px;
    border-radius: 5px;
    &:nth-child(2) {
        opacity: 0.5;
    }
    &:nth-child(3) {
        opacity: 0.5;
    }
}
.catalogList{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
    gap: 10px;
    padding-bottom: 30px;
}

.catalogGood{
    border: 1px solid #c5c4c4;
    border-radius: 10px;
    &__info{
        padding: 3px  ;
    }
    &__title{
        height: 70px;
    }
    &-description{
        display: none;
    }
    &__img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 160px;
        object-fit: cover;
    }
    &__buyBtn{
        border: none;
        border-radius: 50%;
        background-color: $mainColor;
        padding: 8px;
        & svg{
        }
    }
    &__priceCartWrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    &__priceValue{
        margin-right: 3px;
    }
    
}
.modal{
    min-width: 390px;
    background-color: whitesmoke;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1;
    height: 100vh;
    transition: all ease-in-out .4s;

    &__active{
        top: 100px;
        left: 0;
        transition: all ease-in-out .4s;

    }
}
.modalGood{
    &__info{
        padding: 10px;
    }

    position: relative;
    &-description{
        display: flex;
        flex-direction: column;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        margin-bottom: 10px;
    }
    &__img{
        width: 100%;
        height: 270px;
        object-fit: cover;

    }
    &__close{
        border-radius: 100%;
        padding: 4px;
        background-color: $mainColor;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
.modalBtn{
    width: 35px;
    height: 35px;
    background-color: $mainColor;
    color: $headingColor;
    border: none;
    border-radius: 50%;
}
.modalCounter{
    display: flex;
    flex-grow: 1;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.modalBuyWrap{
    display: flex;
    margin: 20px 70px;
}
.buyBtn{
    width: 100%;
    padding: 15px;
    background-color: $mainColor;
    color: $headingColor;
    border: navajowhite;

}
   
