.contacts{
    // background-color: $mainColor;
    &__heading{
        @include blockHeading;
    }
    &__content{
        @media (min-width: $tabletWidth) {
            display: flex;
            justify-content: space-between;
        }
    }
}
.listHeading{
    @include blockHeading;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;

}
.listWrap{
    display: flex;
    justify-content: space-between;
}
.contactsList{
    display: grid;
    gap: 10px;
}
.contact{
    display: flex;
    align-items: center;
    gap: 20px;
    &__link{
        text-decoration: none;
        color: black;
    }
}
.location{
    display: flex;
    align-items: center;
}
.contactsList{
    margin-bottom: 20px;
}
.notice{
    padding: 20px 0 50px;
    &__text{
      @include  regText
    }
    opacity: .8;
}