.discounts{
    margin: 100px auto 0;
    max-width: 1200px;
    padding: 220px 7px 0 7px;
    @media (min-width: $tabletWidth) {
        padding-top: 300px;
    }
    @media (min-width: $desktopWidth) {
        padding-top: 500px;
    }
    &__heading{
        @include blockHeading
    }
}
.discountsWrap{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
.discountsList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
    gap: 10px;
    @media (min-width: $tabletWidth) {
        grid-template-columns: repeat(12, 1fr);

        gap: 20px;
    }
}
.discountsGood{
    position: relative;
    width: 150px;
    &__img{
        width: 150px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &__icon{
        position: absolute;
        top: 5px;
        left: 5px;
    }
    
}
.discountsGood-description{
    display: none;
}
