.good{
    margin-top: 100px;
}
.goodSlider{
    height: 200px;
    border: 1px solid #000;
    &__img{
        width: 100%;
        height: 100%;
    }
}
.goodWrap{
    border-bottom: 2px solid #dfb985;
}
.goodInfo{
    &__{

    }
}