.latest{
    &__heading{
        @include blockHeading
    }
}
.latestWrap{
    display: flex;
    flex-direction: column;
}
.latestList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding-bottom: 20px;
}
.latestGood{
    border: 1px solid #c5c4c4;
    border-radius: 10px;
    &__info{
        padding: 3px;
    }
    &__description{
        display: none;
    }
    &__text{
        height: 70px;
    }
    &__img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    &__buyBtn{
        border: none;
        border-radius: 50%;
        background-color: $mainColor;
        padding: 8px;
        & svg{
        }
    }
}
.priceCartWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalogBtn{
    border: none;
    display: flex;
    margin: auto;
    background-color: $mainColor;
    color: $headingColor;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 25px;
    border-radius: 5%;
    @media (min-width: $tabletWidth) {
        padding: 15px 35px;

    }
}