.latest{
    &__heading{
        @include blockHeading
    }
}
.latestWrap{
    display: flex;
    flex-direction: column;
}
.latestList{
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
    overflow-x: scroll;
}
.latestGood-description{
    display: none;
}
.latestGood{
    position: relative;
    border-radius: 10px;
    width: 150px;
    border: 1px solid #dfb985;
    &__info{
        padding: 3px;
    }
    &__description{
        display: none;
    }
    &__title{
        height: 55px;
    }
    &__img{
        height: 150px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 150px;
    }
    &__discountImg{
        width: 50px;
        position: absolute;
        left: 0;
        background: inherit;
    }
    &__buyBtn{
        border: none;
        border-radius: 50%;
        background-color: $mainColor;
        padding: 8px;
        & svg{
        }
    }
}
.priceCartWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalogBtn{
    border: none;
    display: flex;
    margin: auto;
    background-color: $mainColor;
    color: $headingColor;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 25px;
    border-radius: 5%;
    @media (min-width: $tabletWidth) {
        padding: 15px 35px;

    }
}