.promo{
    position: absolute;
    top: 80px;
    left: 0;

    @media (min-width: $tabletWidth) {
        top: 60px;
    }
}
.slider{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 250px;
    @media (min-width: $tabletWidth) {
        height: 350px;
    }
    @media (min-width: $desktopWidth) {
        height: 550px;
    }
}
.sliderLine{
    display: flex;
    align-items: center;
    transition: ease-in-out 1s;
    &__img{
        height: 100%;
        width: 100%;
    }
}
.sliderBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45%;
    &__prev{
        left: 2%;
    }
    &__next{
        right: 2%;
   }

}
.dotsWrap{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 85%;
    left: 35%;
    @media (min-width: $tabletWidth) {
        left: 44%;
    }

}
.sliderDot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-top: 3px;
    background-color: azure;

    &__activeDot{
        background-color: $headingColor;

    }
}
