html{
    scroll-behavior: smooth;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

}
.container{
    // background-color: #143623;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
a{
    text-decoration: none;
    color: currentColor;
}
p{
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
$mainColor: #143623;
$headingColor: #dfb985;

$tabletWidth: 500px;
$desktopWidth: 1024px;
@mixin blockHeading {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: #dfb985;
}
@mixin regText {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
